.header{

    background-color: rgba(0, 0, 0, 0.473);
    width: 100%;
    height: 64px;
    padding: 0 24px;
    padding: 10px 0;
    display: flex;
    justify-content:center;
    color: white;
}

.header2{
    justify-content: space-evenly;
    padding: 10px;
    display: flex;
    color: white;
    background-color: black;
    
}

.header3 {
    display: flex;
    padding: 10px;
    color: rgb(8, 2, 2);
}

.h3 {
    color: rgb(19, 17, 17);
    font-size: 20px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: end;
    padding: 0 100px;
    margin: 10px 0;
}
.ol {
    padding: 0 90px;
    color: rgb(14, 12, 12);
}
.imagen {
    width: 200px;
    height: 100px;
 
}
.footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 10px;
}
